# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [115]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import gkey
print (gkey)

AIzaSyBsstqyVHrqFOcs3nM298Q2PBm9NKaSiO4

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#import csv
city_data = pd.read_csv("../output_data/city data file.csv")
city_data.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,coihaique,-45.5752,-72.0662,55.42,86,100,4.52,CL,1614569485
1,1,ustka,54.5805,16.8619,37.17,90,2,9.06,PL,1614569486
2,2,hilo,19.7297,-155.0900,69.80,83,90,9.22,US,1614569415
3,3,tatarsk,55.2190,75.9828,8.64,95,100,11.56,RU,1614569487
4,4,mataura,-46.1927,168.8643,70.00,75,53,11.01,NZ,1614569488

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [43]:
# store lat and lon into locations variable
locations =  city_data[["Latitude", "Longitude"]]

In [49]:
# Plot Heatmap
fig = gmaps.figure()

In [62]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=city_data["Humidity"], 
                                  dissipating=False, max_intensity=10,
                                 point_radius=1)

In [63]:
# Add layer
fig.add_layer(heat_layer)

In [64]:
# fig = gmaps.figure(layout={
#         'width': '400px',
#         'height': '600px',
#         'padding': '3px',
#         'border': '1px solid black'
# })

In [65]:
#fig=gmaps.figure(layout={'height':'600px'})

In [66]:
# Display figure
fig

Figure(layout=FigureLayout(height='600px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [77]:
#narrow down by temp
city_temp = city_data.loc[city_data["Max Temp"] < 80]
city_temp

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,coihaique,-45.5752,-72.0662,55.42,86,100,4.52,CL,1614569485
1,1,ustka,54.5805,16.8619,37.17,90,2,9.06,PL,1614569486
2,2,hilo,19.7297,-155.0900,69.80,83,90,9.22,US,1614569415
3,3,tatarsk,55.2190,75.9828,8.64,95,100,11.56,RU,1614569487
4,4,mataura,-46.1927,168.8643,70.00,75,53,11.01,NZ,1614569488
...,...,...,...,...,...,...,...,...,...,...
547,547,westport,41.1415,-73.3579,39.20,93,90,10.36,US,1614569670
548,548,moose factory,51.2585,-80.6094,10.40,85,90,14.97,CA,1614569670
549,549,mapiripan,2.8892,-72.1256,78.08,60,47,2.75,CO,1614569671
550,550,koscierzyna,54.1223,17.9812,33.80,100,90,9.22,PL,1614569671
551,551,castanos,26.7833,-101.4167,70.21,63,74,4.41,MX,1614569671

In [84]:
temp_city_2= city_temp.loc[city_temp["Max Temp"] > 70]
temp_city_2

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,11,soyo,-6.1349,12.3689,79.70,86,100,10.80,AO,1614569490
14,14,junin,-34.5838,-60.9433,72.00,89,0,9.80,AR,1614569491
15,15,makurdi,7.7411,8.5121,73.89,73,5,5.10,NG,1614569491
17,17,hermanus,-34.4187,19.2345,72.00,83,0,3.00,ZA,1614569492
21,21,punta cardon,11.6581,-70.2150,76.46,78,4,17.96,VE,1614569493
...,...,...,...,...,...,...,...,...,...,...
535,535,nicoya,10.1483,-85.4520,75.24,70,93,10.42,CR,1614569649
537,537,pemba,-12.9740,40.5178,73.40,100,75,3.44,MZ,1614569667
539,539,tank,32.2217,70.3793,71.28,21,0,1.32,PK,1614569668
549,549,mapiripan,2.8892,-72.1256,78.08,60,47,2.75,CO,1614569671
551,551,castanos,26.7833,-101.4167,70.21,63,74,4.41,MX,1614569671

In [86]:
# take temp datafame and add wind speed criteria
wind_city= temp_city_2.loc[temp_city_2["Wind Speed"] < 10]
wind_city

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,14,junin,-34.5838,-60.9433,72.00,89,0,9.80,AR,1614569491
15,15,makurdi,7.7411,8.5121,73.89,73,5,5.10,NG,1614569491
17,17,hermanus,-34.4187,19.2345,72.00,83,0,3.00,ZA,1614569492
22,22,busselton,-33.6500,115.3333,71.01,63,100,5.99,AU,1614569493
27,27,rio grande,-32.0350,-52.0986,73.99,84,42,5.01,BR,1614569495
...,...,...,...,...,...,...,...,...,...,...
532,532,amapa,1.0000,-52.0000,71.56,96,100,1.86,BR,1614569666
537,537,pemba,-12.9740,40.5178,73.40,100,75,3.44,MZ,1614569667
539,539,tank,32.2217,70.3793,71.28,21,0,1.32,PK,1614569668
549,549,mapiripan,2.8892,-72.1256,78.08,60,47,2.75,CO,1614569671
551,551,castanos,26.7833,-101.4167,70.21,63,74,4.41,MX,1614569671

In [91]:
#apply clousiness filter for creation of final hotel dataframe

final_city=wind_city.loc[wind_city["Cloudiness"] == 0]
final_city= final_city.dropna()
len(final_city)

22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [93]:
#store narrowed down dataframe into hotel_df

hotel_df = final_city
len(hotel_df)

22

In [95]:
#Add a "Hotel Name" column to the DataFrame. Source:06-Python-APIs /3 / Activities/04-Ins_NearestRestr/solved

hotel_df['Hotel Name'] =""
hotel_df.head(2)

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
14,14,junin,-34.5838,-60.9433,72.0,89,0,9.8,AR,1614569491,
17,17,hermanus,-34.4187,19.2345,72.0,83,0,3.0,ZA,1614569492,

In [137]:
# try to change activity to my data 
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?&radius=5000&type=lodging&key=AIzaSyBsstqyVHrqFOcs3nM298Q2PBm9NKaSiO4&location=-34.4187,19.2345 this works!!

     # find the closest restaurant of each type to coordinates


# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
# params = { "radius": 5000,   
#            "type": "lodging",
#             "key": gkey}
#parama={}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get loaction from df
    Location = (row["Latitude"] , row["Longitude"])

    # add keyword to params dict
    #params["location"] = Location
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?&radius=5000&type=lodging&key=AIzaSyBsstqyVHrqFOcs3nM298Q2PBm9NKaSiO4&Location="


    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url + 'Location').json()
  
    
    # extract results
    results = response['results']
    
    try:
        print(f"hotel for  {Location} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 14: junin.
Missing field/result... skipping.
------------
Retrieving Results for Index 17: hermanus.
Missing field/result... skipping.
------------
Retrieving Results for Index 68: pisco.
Missing field/result... skipping.
------------
Retrieving Results for Index 109: saint-philippe.
Missing field/result... skipping.
------------
Retrieving Results for Index 118: mansa.
Missing field/result... skipping.
------------
Retrieving Results for Index 125: malangwa.
Missing field/result... skipping.
------------
Retrieving Results for Index 152: san rafael.
Missing field/result... skipping.
------------
Retrieving Results for Index 156: barmer.
Missing field/result... skipping.
------------
Retrieving Results for Index 165: salalah.
Missing field/result... skipping.
------------
Retrieving Results for Index 178: pochutla.
Missing field/result... skipping.
------------
Retrieving Results for Index 244: batticaloa.
Missing field/result... skipping.
------------
Retrieving Results for Index 302: nizwa.
Missing field/result... skipping.
------------
Retrieving Results for Index 326: ormara.
Missing field/result... skipping.
------------
Retrieving Results for Index 329: yazman.
Missing field/result... skipping.
------------
Retrieving Results for Index 360: ouadda.
Missing field/result... skipping.
------------
Retrieving Results for Index 368: jatibonico.
Missing field/result... skipping.
------------
Retrieving Results for Index 447: doctor juan leon mallorquin.
Missing field/result... skipping.
------------
Retrieving Results for Index 459: chhapar.
Missing field/result... skipping.
------------
Retrieving Results for Index 471: konanur.
Missing field/result... skipping.
------------
Retrieving Results for Index 504: mae chan.
Missing field/result... skipping.
------------
Retrieving Results for Index 512: rameswaram.
Missing field/result... skipping.
------------
Retrieving Results for Index 539: tank.
Missing field/result... skipping.
------------

In [138]:
response

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [140]:
# 2nd attempt SOurce is  01-Lesson-Plans/06-Python-APIs/ 3 Activities / 05-Stu_Google_Complex/solved /airport_ratings_Ben

params = { "radius": 5000,   
           "type": "lodging",
            "key": gkey}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    
    # get loaction from df
    lat = row["Latitude"] 
    lon = row["Longitude"]

    # add keyword to params dict
    params['location'] = f"{lat},{lon}"
    
  
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    # assemble url and make API request
    
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
  
    
    # extract results
    results = response['results']
  
    
    try:
        print(f"hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

    except (KeyError, IndexError):
        print("No lodging found in radius.")

Retrieving Results for Index 14: junin.
hotel is Hotel Copahue.
Retrieving Results for Index 17: hermanus.
hotel is Misty Waves Boutique Hotel.
Retrieving Results for Index 68: pisco.
hotel is Hotel San Isidro Oficial.
Retrieving Results for Index 109: saint-philippe.
hotel is Chambres d'hôte "La Trinité".
Retrieving Results for Index 118: mansa.
hotel is STARiHOTEL Mansa.
Retrieving Results for Index 125: malangwa.
hotel is Prem Meat House.
Retrieving Results for Index 152: san rafael.
hotel is Hotel San Rafael.
Retrieving Results for Index 156: barmer.
hotel is OYO 71911 Hotel Amber Palace.
Retrieving Results for Index 165: salalah.
hotel is HAMDAN PLAZA HOTEL SALALAH.
Retrieving Results for Index 178: pochutla.
hotel is Hotel Posada San Jose.
Retrieving Results for Index 244: batticaloa.
hotel is Grand Star Guest House.
Retrieving Results for Index 302: nizwa.
hotel is Orient Apartments.
Retrieving Results for Index 326: ormara.
hotel is Crystal Beach and Camping Resort Ormara.
Retrieving Results for Index 329: yazman.
hotel is Jamal sons showroom.
Retrieving Results for Index 360: ouadda.
No lodging found in radius.
Retrieving Results for Index 368: jatibonico.
hotel is Hostel "Los Tomasos".
Retrieving Results for Index 447: doctor juan leon mallorquin.
hotel is Hotel Puma S.A..
Retrieving Results for Index 459: chhapar.
hotel is Tal Chhapar Forest Rest House.
Retrieving Results for Index 471: konanur.
hotel is Govt Guest House (IB), Konanur.
Retrieving Results for Index 504: mae chan.
hotel is Kiang Dao Resort.
Retrieving Results for Index 512: rameswaram.
hotel is Daiwik Hotels Rameswaram.
Retrieving Results for Index 539: tank.
hotel is Saraikistan house.

In [141]:
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
14,14,junin,-34.5838,-60.9433,72.00,89,0,9.80,AR,1614569491,Hotel Copahue
17,17,hermanus,-34.4187,19.2345,72.00,83,0,3.00,ZA,1614569492,Misty Waves Boutique Hotel
68,68,pisco,-13.7000,-76.2167,73.40,83,0,3.44,PE,1614569509,Hotel San Isidro Oficial
109,109,saint-philippe,-21.3585,55.7679,78.80,61,0,8.05,RE,1614569522,"Chambres d'hôte ""La Trinité"""
118,118,mansa,29.9833,75.3833,73.74,18,0,2.77,IN,1614569524,STARiHOTEL Mansa
125,125,malangwa,26.8568,85.5581,77.32,31,0,9.57,NP,1614569526,Prem Meat House
152,152,san rafael,-34.6177,-68.3301,78.55,43,0,7.72,AR,1614569519,Hotel San Rafael
156,156,barmer,25.7500,71.3833,76.01,17,0,4.16,IN,1614569536,OYO 71911 Hotel Amber Palace
165,165,salalah,17.0151,54.0924,71.60,64,0,2.30,OM,1614569539,HAMDAN PLAZA HOTEL SALALAH
178,178,pochutla,15.7432,-96.4661,75.99,90,0,1.01,MX,1614569545,Hotel Posada San Jose
244,244,batticaloa,7.7102,81.6924,79.36,65,0,1.92,LK,1614569567,Grand Star Guest House
302,302,nizwa,22.9333,57.5333,70.45,41,0,1.10,OM,1614569584,Orient Apartments
326,326,ormara,25.2088,64.6357,72.25,25,0,6.98,PK,1614569593,Crystal Beach and Camping Resort Ormara
329,329,yazman,29.1212,71.7446,70.77,22,0,8.61,PK,1614569595,Jamal sons showroom
360,360,ouadda,8.0777,22.4007,74.71,19,0,9.40,CF,1614569602,
368,368,jatibonico,21.9419,-79.1700,72.09,86,0,8.46,CU,1614569605,"Hostel ""Los Tomasos"""
447,447,doctor juan leon mallorquin,-25.4000,-55.2667,77.00,73,0,5.75,PY,1614569639,Hotel Puma S.A.
459,459,chhapar,27.8167,74.4000,72.59,19,0,6.31,IN,1614569643,Tal Chhapar Forest Rest House
471,471,konanur,12.6264,76.0542,79.61,37,0,4.25,IN,1614569647,"Govt Guest House (IB), Konanur"
504,504,mae chan,20.1467,99.8526,71.60,73,0,3.44,TH,1614569657,Kiang Dao Resort
512,512,rameswaram,9.2833,79.3000,79.20,68,0,6.40,IN,1614569659,Daiwik Hotels Rameswaram
539,539,tank,32.2217,70.3793,71.28,21,0,1.32,PK,1614569668,Saraikistan house

In [ ]:
# #Google place API - places nearby search
# #https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters
# where output may be either of the following values:

# json (recommended) indicates output in JavaScript Object Notation (JSON)
# xml indicates output as XML
# Certain parameters are required to initiate a Nearby Search request. As is standard in URLs, all parameters are separated using the ampersand (&) character.

# Required parameters

# key — Your application's API key. This key identifies your application. See Get a key for more information.
# location — The latitude/longitude around which to retrieve place information. This must be specified as latitude,longitude.
# radius — Defines the distance (in meters) within which to return place results. The maximum allowed radius is 50 000 meters. Note that radius must not be included if rankby=distance (described under Optional parameters below) is specified.
# Optional parameters

# keyword — A term to be matched against all content that Google has indexed for this place, including but not limited to name, type, and address, as well as customer reviews and other third-party content.
# language — The language code, indicating in which language the results should be returned, if possible. See the list of supported languages and their codes. Note that we often update supported languages so this list may not be exhaustive.
# minprice and maxprice (optional) — Restricts results to only those places within the specified range. Valid values range between 0 (most affordable) to 4 (most expensive), inclusive. The exact amount indicated by a specific value will vary from region to region.
# name — A term to be matched against all content that Google has indexed for this place. Equivalent to keyword. The name field is no longer restricted to place names. Values in this field are combined with values in the keyword field and passed as part of the same search string. We recommend using only the keyword parameter for all search terms.
# opennow — Returns only those places that are open for business at the time the query is sent. Places that do not specify opening hours in the Google Places database will not be returned if you include this parameter in your query.
# rankby — Specifies the order in which results are listed. Note that rankby must not be included if radius (described under Required parameters above) is specified. Possible values are:
# prominence (default). This option sorts results based on their importance. Ranking will favor prominent places within the specified area. Prominence can be affected by a place's ranking in Google's index, global popularity, and other factors.
# distance. This option biases search results in ascending order by their distance from the specified location. When distance is specified, one or more of keyword, name, or type is required.
# type — Restricts the results to places matching the specified type. Only one type may be specified (if more than one type is provided, all types following the first entry are ignored). See the list of supported types.
# pagetoken — Returns up to 20 results from a previously run search. Setting a pagetoken parameter will execute a search with the same parameters used previously — all parameters other than pagetoken will be ignored.

In [ ]:
#Set parameters to search for hotels with 5000 meters.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure